*{
    margin: 0px;
    padding:0px;
    }
body {
    margin-top: 20;
    background-color:#ece7df;
    }
#main-header {
    color: darkolivegreen;
    font-size: 35px;
    margin-left: 30;
    margin-bottom: 20;
    }
#navbar {
    padding:5;
    background-color: #5C4033;
    }
#navbar a {
    color:#fff;
    text-decoration:none;
    font-size: 20px;
    padding-left: 30px;
    }
#navbar a:hover {
    color:#343221;
    }
#ingred {
    padding-top:300px;
    overflow:hidden;
    padding-top:70px;
    overflow:auto;
}
#choose {
    text-align: center;
    padding: 5%;
    margin-bottom: 2%;
    font-size: 50;
    font-family: arial;
    color: whitesmoke;
    background-color: darkolivegreen;
}

.filterDiv {
    float: left;
    background-color: goldenrod;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none;
}

.show {
    display: block;
    width: 200;
    height: 100;
    font-size: 35;
    text-align: center;
    margin: 3%;
}

.container {
    margin-top: 9%;
    overflow: hidden;
}

/* Style the buttons */
#options {
    float: left;
    margin: 2%;
    padding: 30;
}
.filter {
    border: none;
    outline: none;
    width: 100;
    height: 6%;
    background-color: #f1f1f1;
    cursor: pointer;
    margin-bottom:9%;
}

.filter:hover {
    background-color: #ddd;
}

.filter active {
    background-color: #666;
    color: white;
}
