<!DOCTYPE html>
<html lang="en-US">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <script src ="app.js"></script>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet prefetch" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  </head>
  <body>
    <header id="main-header">LunchBox</header>
    <nav id="navbar">
        <div>
            <a href="http://www.pages.drexel.edu/~ch942/lunchbox-main.html">Home</a>
            <a href="http://www.pages.drexel.edu/~ch942/aboutus.html">About Us</a>
            <a href="http://www.pages.drexel.edu/~ch942/recipe.html">Fixed Recipes</a>
        </div>
    </nav>
    <div ng-app='angularDemo' ng-cloak>
      <md-toolbar layout-padding>
        <h2>Choose Your Ingredients!</h2>
      </md-toolbar>
      <div layout="row" ng-controller="angularController as ctrl">
        <div flex="20" class="sidebar" layout-padding>
          <div ng-repeat="filter in Filters">
            <h3 class="sort">{{filter.name}}</h3>
            <ul class="sortoptions">
              <li ng-repeat="option in filter.options">
                <input type="checkbox" ng-model="option.IsIncluded" ng-checked="option.IsIncluded"> {{option.value}}
                <span>({{options.count}})</span>
              </li>
            </ul>
          </div>
          <md-button class="md-raised" ng-click="ctrl.toggleAll($event, false)">Uncheck All</md-button>
          <br/>
          <md-button class="md-raised" ng-click="ctrl.toggleAll($event, true)">Check All</md-button>
       </div>
        <div flex="initial">
          <md-button class="product" flex ng-repeat="fruit in Fruits | dynamicFilter:Filters:this" ng-href="{{fruit.url}}">
            <img ng-src="{{fruit.img}}" style="width: 200px; height: 210px;">
            <br>
            {{fruit.name}} 
          </md-button>
        </div>
      </div>
    </div>
  </body>
  </html>
  